* {
  border: 1px solid black;
}

html, body {
  height: 100%;
  width: auto;
}

/* 6 cols layout*/

body {
  border: 1px solid red;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header header header header" "nav main main main main aside" "footer footer footer footer footer footer";
  gap: 0.5em;
  margin: 0.5em;
}

header {
  grid-area: header;
  grid-column: header-start / header-end;
}

footer {
  background-color: aquamarine;
  grid-area: footer;
  grid-column: footer-start / footer-end;
}

aside {
  background-color: rosybrown;
  grid-column: aside-start / aside-end;
}

nav {
  background-color: peru;
  grid-column: nav-start / nav-end;
}

main {
  background-color: palevioletred;
  grid-column: main-start / main-end;
}

/* 2 cols layout*/

@media screen and (min-width: 475px) and (max-width: 650px) {
  body {
    border: 1px solid red;
    display: grid;
    grid: auto-flow min-content / 2fr 1fr;
    grid-template-areas: "header header" "aside  nav" "main main" "footer footer";
    gap: 0.5em;
    margin: 0.5em;
  }
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
    background-color: aquamarine;
  }
  aside {
    grid-area: aside;
    background-color: rosybrown;
  }
  nav {
    grid-area: nav;
    background-color: peru;
  }
  main {
    grid-area: main;
    background-color: palevioletred;
  }
}

/* 1 cols layout*/

@media screen and (max-width: 475px) {
  body {
    border: 1px solid red;
    display: grid;
    grid: auto-flow min-content / 1fr;
    grid-template-areas: "header" "aside" "nav" "main" "footer";
    gap: 0.5em;
    margin: 0.5em;
  }
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
    background-color: aquamarine;
  }
  aside {
    grid-area: aside;
    background-color: rosybrown;
  }
  nav {
    grid-area: nav;
    background-color: peru;
  }
  main {
    grid-area: main;
    background-color: palevioletred;
  }
}
